body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.title {
    text-align: center;
    background-color: #e0f7fa;
    padding: 10px;
}

.box {
    border: 2px solid blue;
    margin: 20px;
    padding: 15px;
    background-color: lightyellow;
}

.inline-block {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100px;
    background-color: lightgreen;
}